.left{
  background-color: blue;
  height: 100vh;
  width: 50%;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  background-color: red;
  height: 100vh;
  width: 50%;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}